<div class="right">
  <div class="notifications">
    <h3>Notifications <a href="#" class="view-all">View all</a></h3>
    <div>User followed you</div>
    <div>New album by Lorem Impact</div>
    <div>Example</div>
    <div>Example</div>
    <div>Example</div>
    <div>Example</div>
    <div>Example</div>
    <div>Example</div>
  </div>
  <div class="user-stats">
    <h3>User Statistic</h3>
    <div class="average-rating">
      <span class="stars">★★★★<span style="color:#777">☆</span></span>
      <span class="score">7.92</span>
    </div>
    <div class="graph-display">
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
      <div class="graph-bar"></div>
    </div>
    <div class="detailed-stats">
      <div class="detailed-stat-item">
        <span class="icon">❤</span>
        <span class="value">123</span>
      </div>
      <div class="detailed-stat-item">
        <span class="icon">🎧</span>
        <span class="value">792</span>
      </div>
      <div class="detailed-stat-item">
        <span class="icon">📋</span>
        <span class="value">9</span>
      </div>
    </div>
  </div>
  <div class="user-lists">
    <h3>User Lists <a href="#" class="view-all">View all</a></h3>
    <div>By User1337</div>
    <div>By krhdall</div>
    <div>By Daymer</div>
    <div>By User12112</div>
    <div>By 228dima337</div>
  </div>
</div>