<div class="album-cover">
    <img id="album-cover" src="" alt="Album cover">
</div>

<script>
    window.components = window.components || {};
    window.components.albumCover = {
        update: function(albumData) {
            const albumCover = document.getElementById('album-cover');
            if (albumCover) {
                albumCover.src = albumData.cover_url || '/img/default-artist.png';
                albumCover.onload = function() {
                    if (this.naturalWidth !== this.naturalHeight) {
                        this.style.aspectRatio = `${this.naturalWidth}/${this.naturalHeight}`;
                    }
                };
            }
        }
    };
</script>